n8n-workflow.json
{
  "name": "Nachrichtenueberblick - Weekly Worksheet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nachrichten-ueberblick",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nachrichten-ueberblick"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "has-topics",
              "leftValue": "={{ $json.body.topics[0].title }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            },
            {
              "id": "has-pdf",
              "leftValue": "={{ $json.body.pdf_url }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Nachrichtenüberblick KW {{ $json.body.week_number }} ({{ $json.body.week_start }} – {{ $json.body.week_end }})\n\nBitte vor Abgabe prüfen.\n\n📝 Thema 1: {{ $json.body.topics[0].title }}\n→ {{ $json.body.topics[0].presentation_blurb }}\nQuellen: {{ $json.body.topics[0].sources[0].url }} | {{ $json.body.topics[0].sources[1].url }}\n\n📝 Thema 2: {{ $json.body.topics[1].title }}\n→ {{ $json.body.topics[1].presentation_blurb }}\nQuellen: {{ $json.body.topics[1].sources[0].url }} | {{ $json.body.topics[1].sources[1].url }}",
        "additionalFields": {"disable_web_page_preview": true}
      },
      "id": "telegram-summary",
      "name": "Telegram: Send Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, 240],
      "credentials": {
        "telegramApi": {"id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot"}
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "binaryData": false,
        "fileUrl": "={{ $('Webhook').item.json.body.pdf_url }}",
        "additionalFields": {
          "caption": "=Nachrichtenüberblick KW {{ $('Webhook').item.json.body.week_number }}"
        }
      },
      "id": "telegram-document",
      "name": "Telegram: Send PDF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 240],
      "credentials": {
        "telegramApi": {"id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot"}
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "missing required fields: topics[0].title or pdf_url",
        "options": {"responseCode": 400}
      },
      "id": "respond-bad-request",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Validate Payload", "type": "main", "index": 0}]]},
    "Validate Payload": {
      "main": [
        [{"node": "Telegram: Send Summary", "type": "main", "index": 0}],
        [{"node": "Respond 400", "type": "main", "index": 0}]
      ]
    },
    "Telegram: Send Summary": {
      "main": [[{"node": "Telegram: Send PDF", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "active": false,
  "tags": []
}
